:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}


/*
  AppBar
*/

.app-bar {
  padding: 20px 20px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: black;
  text-transform: uppercase;
  font-size: 28px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
  min-height: 100vh;
  margin-top: 20px;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 20px 20px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.container-hero {
  background: url("../public/images/heros/hero-image_4.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: black;
  position: relative;
}

.container-hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.container-hero h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  max-width: 700px; 
}

.container-hero .hero-list{
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.container-hero p {
  line-height: 24px;
  font-size: 20px;
  width: 50%;
  margin-bottom: 40px;
  font-weight: 400;
  color: #fff;
}

/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

/* Isfa resto */
/* Container for the card */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 400px;
  margin: 20px;
  font-family: Arial, sans-serif;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card header section */
.card-header {
  position: relative;
}

/* Image styling */
.isfa-item__header__poster {
  width: 100%;
  height: auto;
  display: block;
}

/* Rating styling */
.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

/* Card content section */
.card-content {
  padding: 15px;
  background-color: #ffffff;
}

/* Card title styling */
.card-content h3 {
  margin: 0 0 10px 0;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.card-content h3 a {
  text-decoration: none;
  color: #333;
  font-size: 40px;
  transition: color 0.2s;
}

/* Link hover effect */
.card-content h3 a:hover {
  color: #007BFF;
}

/* Paragraph styling */
.card-content p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
  margin-top: 20px;
}

.card-content .card-city {
  font-size: 20px;

}


/*
  Footer
*/

footer {
  padding: 20px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #db0000;
  text-decoration: none;
  font-size: 40px;
}

.isfa {
  display: flex;
  flex-wrap: wrap;
}

.isfa-favorite {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 100px;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

.isfa{
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.isfa .isfa__title{
  margin: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.isfa .isfa__poster{
  width: 100%;
}